.titulo{
    color: rgb(70, 68, 68); text-align: center; text-transform: uppercase;
}
.title{
    text-align: center; text-transform: uppercase;
}
body{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAASFBMVEX//wD/6QD/1wDZ5UL62l7j/wDw5ozgujP/9KH/1AD/86jk/wDY40XX5Tvy5pHv5pL612LetjX/+KfetSX/8rD/96/bsSj/7QA+xAETAAABD0lEQVR4nO3PyQGCABAEsEVABTk8of9OLYLxZdJB6hQz9DG3qY0pQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0PDfxwOOblh384xFfQeY5ac5HC8xpxzDA0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0Nfzv8PGPWnLrnvGK2vYmpLucS8zA0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ85As18Tv+GnbPyQAAAABJRU5ErkJggg==);
}
div{
    text-align: center;
}
#foto{
    width: 500px;height: auto; text-align: center;
}